:host {
    display: block;
    position: sticky;
    top: 0;
    z-index: 1000;
    margin: 0;
}

.header-title {
    font-weight: 600;
    font-size: 1.2rem;
    margin-left: 1rem;
}

::ng-deep {
    p-menubar {
        .p-menubar {
            border-radius: 0;
            border: none;
            border-bottom: 1px solid #dee2e6;
            margin: 0;
        }
    }
}